#Supe  {
        display: flex;
        justify-content: center;

}
.form {
        background-color: rgba(78, 218, 218, 0.56);
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        margin-top: 10%;
        border: 5px rgb(30, 28, 28) solid;
        
}

.input  {
        border: 2px rgb(0, 0, 0) solid;
        height: 40px;
        width: 250px;
        margin-bottom: 30px;
        display: flex;
        justify-items: center;
}

.img{
        border-radius: 10px;
        display: flex;
        justify-content: center;
        height: 94px;
}

.buton{
        border: 2px red solid;
        height: 30px;
        margin-bottom: 15px;
        
}
