.cuadro{
    border: 3px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: center;
    background-color: rgba(175, 226, 226, 0.56);
    margin-bottom: 20px;
}

.input{
    border: 3px rgb(0, 0, 0) solid;
    margin-bottom: 30px;
}

.logo1{
    display: flex;
    width: 70px;
    height: 60px;
}